---
version: '3.8'
services:
  nextcloud:
    image: "nextcloud:latest"
    container_name: nextcloud_app
    ports:
      - 8080:80
    restart: always
    volumes:
      - nextcloud:/var/www/html
    depends_on:
      - mariadb
    networks:
      - nextcloud_net_ext
      - nextcloud_net_int
    environment:
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=${DB_USER:-nextcloud}
      - MYSQL_PASSWORD=${DB_USER_PW}
      - MYSQL_HOST=mariadb
      - NEXTCLOUD_ADMIN_USER=${NC_ADMIN_USER:-admin}
      - NEXTCLOUD_ADMIN_PASSWORD=$NC_ADMIN_PW
      - NEXTCLOUD_TRUSTED_DOMAINS=$NC_TRUSTED
  mariadb:
    image: "linuxserver/mariadb:alpine"
    container_name: nextcloud_mariadb
#    ports:
#      - 3306:3306
    restart: always
    volumes:
      - db:/var/lib/mysql
      - /etc/localtime:/etc/localtime:ro
    networks:
      - nextcloud_net_int
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PW:-nextcloud1234}
      - MYSQL_PASSWORD=$DB_USER_PW
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=${DB_USER:-nextcloud}
volumes:
  nextcloud:
  db:

networks:
  nextcloud_net_ext:
  nextcloud_net_int:
    internal: true
